<div class="container mt-5">
  <div class="card border border-primary">
    <div class="card-header bg-primary">
      <app-header>
        <div class="head">Angular Demo Application</div>
        <div class="sub-head">By Anmol</div>
      </app-header>
    </div>
    <div class="card-body">
      <nav class="navbar navbar-light bg-light justify-content-start mb-4">
        <button class="btn btn-outline-primary custom-btn" type="button" routerLink="/basic">Basic</button>&nbsp;&nbsp;
        <button class="btn btn-outline-primary custom-btn" type="button" routerLink="/data-sharing">Data
          Sharing</button>&nbsp;&nbsp;
        <button class="btn btn-outline-primary custom-btn" type="button" routerLink="/angular-form">Angular
          Forms</button>&nbsp;&nbsp;
        <button class="btn btn-outline-primary custom-btn" type="button" routerLink="/crud-operation">CRUD</button>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>