<div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand font-weight-bold" href="javascript:void(0)" routerLink="/angular-form">Angular Forms</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="javascript:void(0)" routerLink="register-utd">Template Driven</a>
            <a class="nav-item nav-link" href="javascript:void(0)" routerLink="register-urf">Reactive</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>